extend layout 

block head 
  script(src="/js/jquery-2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  
block content   
  div.container
    h1 NodeJSProject Metrics
    hr
    h2 Welcome to our website
       
  script
    :coffee-script
      $('#get-metrics').click (e) ->
        e.preventDefault()
        $.getJSON '/metrics.json', (metrics) ->
          $('#content').empty()
          c = ""
          for metric in metrics 
            c += "<p>timestamp: #{metric.timestamp}<br/>value: #{metric.value}</p>"
          $('#contentVue').append c
      
      $('#save-metrics').click (e) ->
        $('#contentSave').empty()
        c = ""
        c += ""
      
