extend layout 

block head 
  script(src="/js/jquery-2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  script(type="text/javascript" src="/js/d3.js" charset="utf-8")
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  style
    include ../lib/style.css
    
block content
  div.container
    header.row.page-header
      h1.col-md-10 Your Metrics
      div.col-md-2
        a.btn.btn-primary(href='/logout' id="logout") Log Out
    section.row
      h2 Welcome #{username} to our website
      form.form(action='/metric')
        .form-group
          input#get-metrics.btn.btn-success(type='submit', value='Display your metrics')
        .form-group
          input#add-metrics.btn.btn-success(type='submit', value='Add a metric', href="/metric")
    
    div.chart
    
  script
    :coffee-script
      $('#get-metrics').click (e) ->
        e.preventDefault()
        
        # Get all the metrics of the user
        $.getJSON '/metrics.json/#{username}', {}, (data) ->
          console.log data
          $('#content').empty()
          
          # Array of metrics
          items = []
          for met in data.metric 
            a = new Date met.timestamp
            year = a.getFullYear()
            month = a.getMonth()
            date = a.getDate()
            hour = a.getHours()
            min = a.getMinutes()
            sec = a.getSeconds()
            time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec
            items.push met.value
                    
          # D3 display of all the metrics
          bar = d3.select(".chart")
            .selectAll("div")
              .data(items)
            .enter()
          bar.append("p")
              .style "width", (d) ->  d * 10 + "px"
              .text (d) -> d
          
                    
      $('#save-metrics').click (e) ->
        $('#contentSave').empty()
        c = ""
        c += ""
